.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header > .logo {
  flex: 0.2;
}
img {
  width: 8rem;
}
.header > .search {
  flex: 0.5;
}
.profile {
  flex: 0.2;
}
